<h1> Monthly Payment Calculator</h1>

<form action = "/payment/results">
  <label for = "giraffe"> APR </label>

  <input id = "giraffe" type = "text" name = "apr">

  <label for = "zebra"> Number of Years </label>

  <input id = "zebra" type = "text" name = "number_of_years">

  <label for = "lion"> Principal </label>

  <input id = "lion" type = "text" name = "principal">

  <button> Calculate Monthly Payment </button>
</form>
