<h1>Random Number in Range</h1>

<form action = "/random/results">
  <label for = "mouse"> Minimum </label>

  <input id = "mouse" type = "text" name = "minimum">

  <label for = "goat"> Maximum </label>

  <input id = "goat" type = "text" name = "maximum">

  <button> Pick Random Number </button>
</form>
